# Ficha de trabalho 1
1 - Considera o ficheiro **notas.csv** com a classificação de algumas disciplinas do curso de bioinformática.
Importa os dados para um objeto do tipo pandas.DataFrame

In [21]:
import pandas as pd
import numpy as np

df = pd.read_csv('notas.csv')

2 - Ordena a informação pela ordem alfabética dos nomes.

In [22]:
df = df.sort_values('Nome')

print(df)

      Nome  Laboratórios   Alg. Avançados   Biologia Sistemas
5   Carina          19.0             18.0                20.0
1    Carla          17.0             16.0                 NaN
7  Joaquim           NaN             15.0                12.0
4     José          14.0             17.0                12.0
0     João          12.0             16.0                17.0
3    Pedro          16.0              NaN                18.0
8  Ricardo          15.0             15.0                14.0
2    Sónia           NaN             18.0                18.0
6    Telma          16.0             14.0                12.0
9    Vanda          16.0             15.0                18.0

3 - Calcula a média de cada uma das disciplinas.

In [23]:
df.describe()

       Laboratórios   Alg. Avançados   Biologia Sistemas
count      8.000000         9.000000            9.000000
mean      15.625000        16.000000           15.666667
std        2.065879         1.414214            3.162278
min       12.000000        14.000000           12.000000
25%       14.750000        15.000000           12.000000
50%       16.000000        16.000000           17.000000
75%       16.250000        17.000000           18.000000
max       19.000000        18.000000           20.000000

4 - Seleciona o nome dos alunos com classificação igual ou superior 16 na disciplina de Laboratórios.

In [24]:
df.loc[df['Laboratórios'] >= 16, 'Nome']

5    Carina
1     Carla
3     Pedro
6     Telma
9     Vanda
Name: Nome, dtype: object

5 - Cria uma nova coluna com a média de cada um dos alunos nas 3 disciplinas.

In [30]:
df.fillna(0, inplace = True)

df_subjects = df.select_dtypes(include='number').columns
df['Média'] = df[df_subjects].mean(axis=1)

print(df)

      Nome  Laboratórios   Alg. Avançados   Biologia Sistemas      Média
5   Carina          19.0             18.0                20.0  19.000000
1    Carla          17.0             16.0                 0.0  11.021484
7  Joaquim           0.0             15.0                12.0   9.017578
4     José          14.0             17.0                12.0  14.333333
0     João          12.0             16.0                17.0  15.000000
3    Pedro          16.0              0.0                18.0  11.355469
8  Ricardo          15.0             15.0                14.0  14.666667
2    Sónia           0.0             18.0                18.0  12.023438
6    Telma          16.0             14.0                12.0  14.000000
9    Vanda          16.0             15.0                18.0  16.333333

6 - Considera a seguinte informação adicional.
```python
Sexo = ['M','F','F','M','M','F','F','M','M','F']
Idade = [23,21,25,21,22,23,21,20,27,21]
```
Constroi um novo DataFrame (df2) com a informação adicional dos alunos.

In [100]:
df2 = pd.read_csv('notas.csv')
df2.fillna(0, inplace = True)

sexo = ['M','F','F','M','M','F','F','M','M','F']
idade = [23,21,25,21,22,23,21,20,27,21]

df2.insert(loc = 4, column="Sexo",value = sexo)
df2.insert(loc = 5, column="Idade",value = idade)

print(df2)

      Nome  Laboratórios   Alg. Avançados   Biologia Sistemas Sexo  Idade
0     João          12.0             16.0                17.0    M     23
1    Carla          17.0             16.0                 0.0    F     21
2    Sónia           0.0             18.0                18.0    F     25
3    Pedro          16.0              0.0                18.0    M     21
4     José          14.0             17.0                12.0    M     22
5   Carina          19.0             18.0                20.0    F     23
6    Telma          16.0             14.0                12.0    F     21
7  Joaquim           0.0             15.0                12.0    M     20
8  Ricardo          15.0             15.0                14.0    M     27
9    Vanda          16.0             15.0                18.0    F     21

7 - Compila a informação presente nos dois DataFrames (df e df2) num único DataFrame.

In [101]:
df_merged = pd.merge(df,df2,on=['Nome', 'Laboratórios'])

#df_merged = pd.merge(df, df2,  how='left', left_on=['Nome', 'Laboratórios'], right_on = ['Alg. Avançados', 'Biologia Sistemas'])

print(df_merged)

      Nome  Laboratórios   Alg. Avançados_x   Biologia Sistemas_x      Média  \
0   Carina          19.0               18.0                  20.0  19.000000
1    Carla          17.0               16.0                   0.0  11.021484
2  Joaquim           0.0               15.0                  12.0   9.017578
3     José          14.0               17.0                  12.0  14.333333
4     João          12.0               16.0                  17.0  15.000000
5    Pedro          16.0                0.0                  18.0  11.355469
6  Ricardo          15.0               15.0                  14.0  14.666667
7    Sónia           0.0               18.0                  18.0  12.023438
8    Telma          16.0               14.0                  12.0  14.000000
9    Vanda          16.0               15.0                  18.0  16.333333

    Alg. Avançados_y   Biologia Sistemas_y Sexo  Idade
0               18.0                  20.0    F     23
1               16.0                   0.0    F     21
2               15.0                  12.0    M     20
3               17.0                  12.0    M     22
4               16.0                  17.0    M     23
5                0.0                  18.0    M     21
6               15.0                  14.0    M     27
7               18.0                  18.0    F     25
8               14.0                  12.0    F     21
9               15.0                  18.0    F     21

8 - A média da notas das raparigas é mais alta, em comparação com a dos rapazes, na disciplina de Biologia Sistemas?

In [102]:
dfM = df2.loc[df2['Sexo'] == 'M']
dfF = df2.loc[df2['Sexo'] == 'F']

mediaM = dfM[' Biologia Sistemas'].mean()
mediaF = dfF[' Biologia Sistemas'].mean()

print('Masculino: ', mediaM)
print('Feminino: ', mediaF)

if mediaM > mediaF:
    print('Resposta: Não, Masculino: ', mediaM)
else:
    print('Resposta: Sim, Feminino: ', mediaF)

Masculino:  14.6
Feminino:  13.6
Resposta: Não, Masculino:  14.6

9 - Remove do DataFrame os alunos que têm disciplinas em atraso. Coloca o resultado em df3. Os alunos com disciplinas em atraso têm valor omisso nessa coluna.

In [103]:
df3 = pd.read_csv('notas.csv')
df3 = df3.dropna(axis=0)

print(df3)

      Nome  Laboratórios   Alg. Avançados   Biologia Sistemas
0     João          12.0             16.0                17.0
4     José          14.0             17.0                12.0
5   Carina          19.0             18.0                20.0
6    Telma          16.0             14.0                12.0
8  Ricardo          15.0             15.0                14.0
9    Vanda          16.0             15.0                18.0

10 - Cria uma tabela pivot que apresente a média das notas de Laboratórios agrupada por idades para ambos os sexos.

In [104]:
df_dropped = df2.drop([' Alg. Avançados', ' Biologia Sistemas'], axis=1)

pd.pivot_table(df_dropped,index=["Sexo","Idade"])

            Laboratórios
Sexo Idade
F    21        16.333333
     23        19.000000
     25         0.000000
M    20         0.000000
     21        16.000000
     22        14.000000
     23        12.000000
     27        15.000000

11 - Adiciona uma nova coluna que indique se o aluno tem bolsa de Mérito ou não. Para ter bolsa de Mérito o aluno não pode ter disciplinas em atraso e média tem que ser superior a 17 valores. Explora a função **apply**.

In [105]:
df2['Bolsa'] = df2.apply(lambda x: True if (x[' Biologia Sistemas'] + x[' Alg. Avançados'] + x['Laboratórios']) / 3 > 17 else False, axis=1)

print(df2)

      Nome  Laboratórios   Alg. Avançados   Biologia Sistemas Sexo  Idade  \
0     João          12.0             16.0                17.0    M     23
1    Carla          17.0             16.0                 0.0    F     21
2    Sónia           0.0             18.0                18.0    F     25
3    Pedro          16.0              0.0                18.0    M     21
4     José          14.0             17.0                12.0    M     22
5   Carina          19.0             18.0                20.0    F     23
6    Telma          16.0             14.0                12.0    F     21
7  Joaquim           0.0             15.0                12.0    M     20
8  Ricardo          15.0             15.0                14.0    M     27
9    Vanda          16.0             15.0                18.0    F     21

   Bolsa
0  False
1  False
2  False
3  False
4  False
5   True
6  False
7  False
8  False
9  False