In [1]:
from Dataset import Dataset
dataset = Dataset()

In [2]:
dataset.read_csv("datasets/media.csv")

In [3]:
dataset.summ()

Number of features: 4
Number of instances: 10
Names of the features : ['Nome', 'Laboratórios', ' Alg. Avançados', ' Biologia Sistemas']
Name of the label: Média
X:  [['João' 12.0 16.0 17.0]
 ['Carla' 17.0 16.0 nan]
 ['Sónia' nan 18.0 18.0]
 ['Pedro' 16.0 nan 18.0]
 ['José' 14.0 17.0 12.0]
 ['Carina' 19.0 18.0 20.0]
 ['Telma' 16.0 14.0 12.0]
 ['Joaquim' nan 15.0 12.0]
 ['Ricardo' 15.0 15.0 14.0]
 ['Vanda' 16.0 15.0 18.0]]

y:  [15.         16.5        18.         17.         14.33333333 19.
 14.         13.5        14.66666667 16.33333333]

In [4]:
dataset.describe()

        Nome  Laboratórios   Alg. Avançados   Biologia Sistemas
count     10           8.0              9.0                 9.0
unique    10           6.0              5.0                 5.0
top     João          16.0             15.0                18.0
freq       1           3.0              3.0                 3.0

In [5]:
dataset.nullcount()

{'Nome': 0,
 'Laboratórios': 2,
 ' Alg. Avançados': 1,
 ' Biologia Sistemas': 1,
 'Média': 0}

In [6]:
dataset.fill_missing_values()

In [7]:
dataset.nullcount()

{'Nome': 0,
 'Laboratórios': 0,
 ' Alg. Avançados': 0,
 ' Biologia Sistemas': 0,
 'Média': 0}